h1{
    text-align: center;

}
td{
    text-align: left;
}
th{
    text-align: center;
}
ul{
    list-style: none;
}
menu{
    position:fixed;
    left:20px;
    top:50%;
    border:1px solid black;
    width:120px;
}