.h1 {
    font-family: "Apple Chancery";
    font-size: small;
}
.nav li {
    display: inline;
}

.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 2px solid black;;
    padding: 5px;
    padding-right: 30px;
}

.table td {
    background-color: #E8E8E8;
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    font-style: normal;
}

.table .tr-head td {
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    font-style: normal;
    background-color: #A9A9A9;
}
