html {
    height: 100%;
    width: 100%;
}

body {
    background: url(../img/gory_nebo_tuman_oblaka_vershiny_84363_1920x1200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 10px;
    margin: 0 auto;
}

.login-form {
    margin: 10%;
    text-align: center;
    opacity: 0.7;

}

.container {
    border-radius: 0px;
    margin: 0 auto;
    width: 400px;
    height: 250px;

}

.container div {
    margin: 0;
    border: 0;
}

.singin-btn {
    padding-top: 5px;
}

input {
    text-align: center;
    width: 300px;
    height: 30px;
    border: inset 1px;

}

div.singin-btn input {
    background: #ffa165;
    border: 0px;
    /*border: 1px solid #C8C8C8 ;*/
    text-align: center;
    box-shadow: none;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 300px;
    height: 30px
}

div.singin-btn input:hover {
    background: #ffbd93;
    color: white;

}

input:hover {
    background: #ffa165;
    text-align: center;
    height: 30px;
    width: 300px;
    border: inset 1px #ffa165;

}

.login-error {
    color: red;
    padding-top: 5px;
}

.myinput{
    background: lightblue;
    border: 0px;
    text-align: center;
    box-shadow: none;
    color: #777;
    font-family: "Apple Chancery", sans-serif;

}
.myinput:hover {
    background: lightskyblue;
}
