.mylogout{
    background: grey;
    text-align: center;
    height: 25px;
    width: 60px;
    /*border-radius: 10px;*/
    color: white;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    font-style: normal;
    float: right;
    margin: 5px;
}
.mylogout:hover {
    background: #337ab7;
}
