<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"/>
    <!--<link href="/static/css/computers.css" rel="stylesheet" th:href="@{/css/computers.css}"/>-->
    <link rel="stylesheet" href="/static/css/logout.css" th:href="@{/css/logout.css}"/>
    <link rel="stylesheet" href="/static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/static/js/addOwner.js" th:src="@{/js/addOwner.js}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Computers</title>
</head>
<body>

<div>
    <input class="mylogout" type="submit" value="Logout"
           onclick="window.location='/logout'"></input>
</div>

<h1 style="text-align: center">Computers</h1>

<div style="max-width: 30%; max-height: 30%; margin: auto; position: relative;">
    <form th:action="@{/search}" method="get">
        <input name="q" type="text" class="form-control" placeholder=""/>
    </form>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="computers">Computers</a></li>
    <li><a href="hdd">HDD</a></li>
    <li><a href="ram">RAM</a></li>
    <li><a href="owners">Owners</a></li>
</ul>

<table class="table table-bordered">
    <thead style="
    background:#d3dce3">
    <tr>
        <th>ID</th>
        <th>Host Name</th>
        <th>CPU</th>
        <th>Motherboard Name</th>
        <th>Motherboard S\N</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>OS</th>
        <th>HDD</th>
        <th>RAM</th>
        <th>Network</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="computers : ${computers}">
        <td th:text="${computers.id}"></td>
        <td th:text="${computers.hostname}"></td>
        <td th:text="${computers.cpu}"></td>
        <td th:text="${computers.motherboardprname}"></td>
        <td th:text="${computers.motherboardsn}"></td>
        <td th:text="${computers.pcname}"></td>
        <td th:text="${computers.systemmanufacturer}"></td>
        <td th:text="${computers.os}"></td>
        <td>
            <ul th:each="hdd : ${computers.hdd}">
                <li th:inline="text">Name: [[${hdd.product}]]</li>
                <li th:inline="text">Serial Number: [[${hdd.serial}]]</li>
                <li th:inline="text">Size: [[${hdd.size}]]</li>
            </ul>
        </td>
        <td>
            <ul th:each="ram : ${computers.ram}">
                <li th:inline="text">Type: [[${ram.type}]]</li>
                <li th:inline="text">Size: [[${ram.size}]]</li>
                <li th:inline="text">Serial Number: [[${ram.serial}]]</li>
                <li th:inline="text">Slot: [[${ram.slot}]]</li>
            </ul>
        </td>
        <td>
            <ul th:each="network : ${computers.network}">
                <li th:inline="text">Interface: [[${network.netinterface}]]</li>
                <li th:inline="text">IP: [[${network.ip}]]</li>
            </ul>
        </td>
        <td>
            <input th:id="${computers.id}" type="text" class="form-control owner_field" placeholder="Who is owner?"
                   th:value="${computers.owner.owner}"/>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

