<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
        >
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Login page</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>

<body>

<div class="login-form">
    <div class="container">
        <form th:action="@{/login}" method="post">
            <div class="username"><label><input type="text" name="username" placeholder="Username" autofocus="autofocus"/> </label></div>
            <div class="password"><label><input type="password" name="password" placeholder="Password"/> </label></div>
            <div class="singin-btn"><input type="submit" value="LOGIN"/></div>
        </form>
        <div th:if="${param.error}" class="login-error">
            <p>Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>
                You have been logged out.
            </p>
        </div>
    </div>
</div>
</body>
</html>