<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/css/logout.css" th:href="@{/css/logout.css}"/>
    <link rel="stylesheet" href="/static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/static/js/addOwner.js" th:src="@{/js/delOwner.js}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Computers</title>
</head>
<body>

<div>
    <input class="mylogout" type="submit" value="Logout"
           onclick="window.location='/logout'"></input>
</div>

<h1>Owners</h1>
<div style="max-width: 30%; max-height: 30%; margin: auto; position: relative;">
    <form th:action="@{/search}" method="get">
        <input name="q" type="text" class="form-control" placeholder=""/>
    </form>
</div>
<ul class="nav nav-tabs">
    <li><a href="computers">Computers</a></li>
    <li><a href="hdd">HDD</a></li>
    <li><a href="ram">RAM</a></li>
    <li class="active"><a href="owners">Owners</a></li>
</ul>
<table class="table table-bordered table-owner">
    <thead style="background:#d3dce3">
    <tr>
        <th>Owner</th>
        <th>Delete?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.owner}"></td>
        <td>
            <form>
                <button th:action="@{/delowner}" th:value="${owner.owner}"
                        class="form-control ownerdel_field pagerefresh"><span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>

                <!--<script type="text/javascript">-->
                <!--$('.pagerefresh').click(function() {-->
                <!--window.location.reload(true);-->
                <!--alert("Reloaded");-->
                <!--});-->

                <!--</script>-->

            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>