<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"/>
    <!--<link href="../static/css/computers.css" rel="stylesheet" th:href="@{/css/computers.css}"/>-->
    <link rel="stylesheet" href="/static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <link rel="stylesheet" href="/static/css/logout.css" th:href="@{/css/logout.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Computers</title>
</head>
<body>

<div>
    <input class="mylogout" type="submit" value="Logout" onclick="window.location='/logout'"></input>
</div>

<h1>RAM</h1>
<div style="max-width: 30%; max-height: 30%; margin: auto; position: relative;">
    <form th:action="@{/search}" method="get">
        <input name="q" type="text" class="form-control" placeholder=""/>
    </form>
</div>
<ul class="nav nav-tabs">
    <li><a href="computers">Computers</a></li>
    <li><a href="hdd">HDD</a></li>
    <li class="active"><a href="ram">RAM</a></li>
    <li><a href="owners">Owners</a></li>
</ul>

<table class="table table-bordered">
    <thead style="
    background:#d3dce3">
    <tr>
        <th>Size</th>
        <th>Serial</th>
        <th>Type</th>
        <th>Slot</th>
        <th>Owner</th>
        <th>Computer ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ram : ${ram}">
        <td th:text="${ram.size}"></td>
        <td th:text="${ram.serial}"></td>
        <td th:text="${ram.type}"></td>
        <td th:text="${ram.slot}"></td>
        <!--<td th:text="${ram.computers}"></td>-->
        <td>
            <ul th:each="computers : ${ram.computers}">
                <li th:inline="text">Owner: [[${computers.owner.owner}]]</li>
                <!--<li th:inline="text">IP: [[${network.ip}]]</li>-->
            </ul>
        </td>
        <td th:text="${ram.computers.id}"></td>
    </tr>
    </tbody>
    </table>
</body>
</html>